/* style.css */

body {
    background-color: #f5f5f5;
    font-family: Poppins, sans-serif;
}

.min-vh-100 {
    min-height: 100vh;
    display: flex;
}

.box-area {
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.header-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.header-text p {
    color: #888;
    margin-left: 15px;
}

.header-text {
    margin-bottom: 20px;
}

.input-group input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-check-label {
    font-size: 14px;
    text-align: left;
}

.forgot a {
    font-size: 14px;
    text-align: right; 
}

.btn-primary {
    background-color: black;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.row small a:hover {
    text-decoration: underline;
}
.form{
    margin-left: 20px;
}